# Правило для доступа к AJAZZ AHM09 MAX
SUBSYSTEMS=="usb", ATTR{idVendor}=="4c4a", ATTR{idProduct}=="4155", MODE="0664", GROUP="usbusers", TAG+="uaccess"
SUBSYSTEMS=="hid", ATTR{idVendor}=="4c4a", ATTR{idProduct}=="4155", MODE="0664", GROUP="usbusers", TAG+="uaccess"
